/* --------------------------------------------------------------
Import de la font Open depuis Google Fonts
-------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


/* --------------------------------------------------------------
Layout de la page
-------------------------------------------------------------- */

/* Déclarations CSS qui seront hérités par l'ensemble des éléments html enfant */
body {
    background-color: rgb(65, 56, 56);
    font-family: 'Open Sans', sans-serif;
    line-height: 250%;
    color: white;
}

/* Déclarations CSS qui centre le titre principal de la page */
h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

/*Déclaration du tableau */
table
{
    border-collapse: collapse;
    border:3px solid;
    width:90%;
    margin: auto;
}
td, th
{
    border: 3px solid rgba(112, 111, 111, 0.993);
    text-align: center;
}
.starter
{
    background-color: #ff9d00;
}
.différents
{
    background-color: white;
    color: black;
}
.medium
{
    background-color: #ec3d45 ;
}
.premium
{
    background-color: #08b9ca
    ;
}
.vingtneuf
{
    font-weight: bold;
    font-size: 18px;
    color: #ff9d00
}
.quarante
{
    font-weight: bold;
    font-size: 18px;
    color: #ec3d45
}
.soixantedix
{
    font-weight: bold;
    font-size: 18px;
    color: #08b9ca
}
.rouge
{
    color: red;
}
.vert
{
    color: green

    /*Bouton cliquabe */
}
.button button
{
   padding: 10px;
    border-radius: 90px;
    background-color: #ff9d00;
    margin: 20px;
    border: none;
    font-weight: bold;
    color: white
    
    
   
}


